<div class="row">

		<div class="page-header">
		<h1 class="text-center">Welcome to Battleships!</h1>
		</div>
	<p class="text-center">There are currently <%= @@player_count %> players waiting to play.</p>

	<% if @@player_count < 2 && !session[:player_name] %>
	<div id="sign-up">
	<form class="horizontal" action="/" method="post">
		<fieldset>
			<legend class="text-center"> Sign Up to Play!</legend>
			<p class="text-center"><input type="text" size ="30" name="player_name" placeholder="        Enter your name here"/></p>
			<div class="sign-up-btn">
				<button type="submit" class="btn"><i class="icon-user"></i> | Add me as a player</button>
			</div>
		</fieldset>
	</form>
	</div>
	<% elsif @@player_count < 2 %>
	<p>Waiting for another player.</p>
	<p>Please <a href="/">refresh</a> this page to check if the game is ready to begin.</p>
	<% else %>
	<p>There are now enough players to start the game!</p>
	<a href="place_ships">START GAME</a>
	<% end %>

</div>