<!DOCTYPE html>
<html lang="en">

<head>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Battleships in Sinatra</title>

</head>

<body>
 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="/bootstrap/js/bootstrap.min.js"></script>

	<div class="navbar">
  		<div class="navbar-inner">
		    <a class="brand" href="/">Battleships</a>
		    <ul class="nav">
		      <li><a href="/">Home</a></li>
		    </ul>

 		 </div>
	</div>


		<%= yield %>


</body>


	<div class="navbar navbar-fixed-bottom footer">
		<div class="pull-right">
			<ul class="nav">
				<a href="reset_game">Reset game</a>
			</ul>
		</div>
	</div>
	</div>

</html>