<!DOCTYPE>
<html>

<head>
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
	<%= yield %>
</body>

<footer>
<a href="reset_game">Reset game</a>
</footer>
</html>