<!--if ships haven't been placed yet, show form
##once ships have been placed, post-->
<div class="span12">	
	<% if flash[:placement_message] %>
				<div class="alert">
	 				<button type="button" class="close" data-dismiss="alert">&times;</button>
	 			 	<strong><%= flash[:placement_message] %></strong>
				</div>
	<% end %>
</div>

<div class="container">
	<h1>The game is starting...</h1>
	<div class="place-ships-body">
			<p><%= session[:player_name] %>, you are Player <%=session[:player_number] %></p>
		
				<p>Please place your ships within the board A-K and 1-10!</p>
		

			<!--display board -->

			<div class="place-ships-form">
				<form class="form-horizontal" action="place_ships" method ="post">

				<div class="control-group">
				<label class="control-label">Aircraft Carrier:</label>
					<div class="controls">
					<input name="aircraft_coordinate1" type="text" maxlength="3" size="3"/><input name="aircraft_coordinate2" type="text" maxlength="3" size="3" /><input name="aircraft_coordinate3" type="text" maxlength="3" size="3" /><input name="aircraft_coordinate4" type="text" maxlength="3" size="3"/><input name="aircraft_coordinate5" type="text" maxlength="3" size="3"/>
					</div>
				</div>

				<div class="control-group">
				<label class="control-label">Battleship:</label>
					<div class="controls">
						<input name="battleship_coordinate1" type="text" maxlength="3" size="3"/><input name="battleship_coordinate2" type="text" maxlength="3" size="3" /><input name="battleship_coordinate3" type="text" maxlength="3" size="3" /><input name="battleship_coordinate4" type="text" maxlength="3" size="3"/>
					</div>
				</div>


				<div class="control-group">
				<label class="control-label">Submarine:</label>
					<div class="controls">
						<input name="submarine_coordinate1" type="text" maxlength="3" size="3"/><input name="submarine_coordinate2" type="text" maxlength="3" size="3" /><input name="submarine_coordinate3" type="text" maxlength="3" size="3" />
					</div>
				</div>
				

				<div class="control-group">
				<label class="control-label">Destroyer:</label>
					<div class="controls">
						<input name="destroyer_coordinate1" type="text" maxlength="3" size="3"/><input name="destroyer_coordinate2" type="text" maxlength="3" size="3" /><input name="destroyer_coordinate3" type="text" maxlength="3" size="3" />
					</div>
				</div>

				<div class="control-group">
				<label class="control-label">Patrol Boat:</label>
					<div class="controls">
							<input name="patrolboat_coordinate1" type="text" maxlength="3" size="3"/><input name="patrolboat_coordinate2" type="text" maxlength="3" size="3" />
					</div>
				</div>

				</div>

				<div class="place-ships-button">
				<button type="submit" class="btn"/>Place your ships</button>

				</form>
	</div>
</div>