body {
background-color: #3d667c;
 font-family: "Helvetica";
    color: #E1E6EB;
}

h1{
	  color: #E1E6EB;

}

a {
 color: white;
}



p {
  font-size: 14px;
  font-family: "Helvetica";
  text-align: center ;
  color: #E1E6EB;
  margin-top: 10px;
  margin-bottom: -10px;

}

label{

	  color: #E1E6EB;
	  font-family: "Helvetica";

}

::-webkit-input-placeholder {
   text-align:center;
}

#holding-area-button{
						text-align: center;
						margin-top: 50px;
}

#holding-area-button button{

						width: 150px;
						height: 30px;
}

.place-ships-body{
					margin-top: 50px;
}

#sign-up{

			padding-top: 20px;


}

.sign-up-btn{
			text-align: center;
			margin-top: 6px;

}

.footer{
		margin-bottom: 10px;
}

.start-game-btn{
				margin-top: 30px;


}

.sign-up-btn button{
				width: 220px;
}

.place-ships-form input[type=text] { 
					width: 30px;
					height: 18px;
					border-radius: 4px;
					margin-left: 5px;
}



.place-ships-form {
					margin-top:50px;
					margin-left: 190px;


}

.place-ships-button{
					margin-left: 375px;
					margin-top: 50px;
}


/*originally from index*/

@font-face {
    font-family: "Kremlin";
    src: url(https://dl.dropboxusercontent.com/u/89420597/kremlin.ttf) format("truetype");
}


#title {
  font-size: 45px;
  font-family: "Kremlin";
  text-align: center ;
  color: rgb( 255, 255, 255 );
  padding-top: 8px;
  line-height: 1.125;
}

#ship {
  margin: auto;
  width: 400px;
  height: 130px;
}

#headline {
  font-size: 30px;
  font-family: "Helvetica";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  line-height: 1.125;
  text-align: center;
  z-index: 5;
  opacity:0.4;
  text-decoration: none;
}

#headline:hover {
  opacity:0.8;
}

#maindiv {
  width: 100%;
  text-align: center;
  padding-top: 150px;
}

#box {
  border-radius: 5px;
  font-family: "Helvetica";
  font-size: 15px;
  border: none;
  height: 30px;
  width: 197px;
  text-align: center;
}

#input {
  width: 200px;
  font-size: 20px;
  font-family: "Helvetica";
}

